spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/health_db
    username: user
    password: password

  eureka:
    client:
      serviceUrl:
        defaultZone: http://localhost:8762/eureka/