spring:
  application:
    name: patient-service
  datasource:
    url: jdbc:h2:mem:patientdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  server:
    port: 0
    servlet:
      context-path: /

  logging:
    level:
      org.springframework.web: INFO


  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  cloud:
    config:
      enabled: false

eureka:
  client:
    enabled: false

logging:
  level:
    org.hibernate.SQL: WARN