version: '3.8'



  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8762:8762"

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    environment:
      SPRING_PROFILES_ACTIVE: native
      SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS: file:///config-repo/
    volumes:
      - ./config-repo:/config-repo

  patient-service:
    build: ./patient-service
    container_name: patient-service
    ports:
      - "8085:8085"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/health_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_PROFILES_ACTIVE: default
    depends_on:
      - postgres
      - config-server
      - eureka-server

  api-gateway:
    build: ./api-gateway/api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: default

volumes:
  postgres_data:
