
server:
  port: 0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
  spring:
    config:
      import: "optional:configserver:http://localhost:8888"

