server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: patient-service
          uri: lb://patient-service
          predicates:
            - Path=/api/v1/patients/**
          filters:
            - StripPrefix=1  # Removes `/api` prefix before sending to the service

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8762/eureka/
  instance:
    prefer-ip-address: true
