server:
  port: 8080

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
      routes:
        - id: patient-service-route
          uri: lb://patient-service
          predicates:
            - Path=/api/v1/patients/**
          filters:
            - StripPrefix=2